<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Class Reminder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- CSS -->
        <script src="~/lib/fontawesome-free-6.0.0-web/css/all.css"></script>
    <!-- ... --->
    <!-- JS -->
        <script src="~/lib/fontawesome-free-6.0.0-web/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P7G4MDGFK6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-P7G4MDGFK6');
    </script>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Class Reminder</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @{
                        if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Create">Add Event <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Index">View Events</a>
                            </li>
                        }
                    }
                    <li class="nav-item active">
                        <a class="nav-link" href="/swagger/index.html">Swagger</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    @{
                        if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a>

                            <a class="nav-link text-dark" asp-controller="Account" asp-action="LogOut">LogOut</a>
                        }

                        else
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login/Register</a>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <section class="footer">
        <!-- Footer -->
        <footer class="text-center text-white bg-primary">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <div class="col-md-12 col-xs-12 col-sm-12 d-flex justify-content-center align-items-center">
                        <div class="row">
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://giridhar196.github.io/classReminder/dotCover.Output.html">Test Coverage Link </a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/giridhar196/classReminder">Link to Development Repo </a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/giridhar196/proposal/blob/main/Proposal.md">Link to Proposal (1B)</a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/users/giridhar196/projects/4">Link to issue board </a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/giridhar196/ClassReminderDocument">Documentation code</a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/giridhar196/classReminder/wiki">Wiki</a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/harshakurra123/ClassRemainder">RFP</a>
                            </div>
                            <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://www.codacy.com/gh/giridhar196/classReminder/dashboard?utm_source=github.com&utm_medium=referral&utm_content=giridhar196/classReminder&utm_campaign=Badge_Grade">Codacy</a>
                            </div>
                             <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://sonarcloud.io/project/overview?id=giridhar196_classReminder">Sonar Test Report</a>
                            </div>
                             <div class="col-md col-sm-3 col-xd-3">
                                <a class="nav-link text-dark" href="https://github.com/giridhar196/classReminder/actions/workflows/sonar.yml">Action Link</a>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright: Class Reminder
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
    @*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
